@import 'utils';
@import './components/header';
@import './components/button';
@import './components/aside-menu';
@import './components/menu';
@import './components/swiper';
@import './components/about-us';
@import './components/our-expertise';
@import './components/services';
@import './components/testimonials';
@import './components/apply';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
  height: calc(100vh - 40px);
}

main {
  padding: 120px 0;

  @include on-tablet {
    padding-bottom: 0;
  }
}

.lock-scroll {
  overflow: hidden;
}
