@import 'utils';
@import './components/header';
@import './components/button';
@import './components/aside-menu';
@import './components/menu';
@import './components/swiper';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $c-gray;
}

.lock-scroll {
  overflow: hidden;
}
